<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password - Enter New Password</title>
</head>
<body>

<h1>Reset your password</h1>

<!-- Form nhập mật khẩu mới -->
<form th:action="@{/forgot/password}" th:object="${user}" method="POST">
    <div>
        <label for="password">New Password:</label>
        <input type="password" th:field="*{password}" id="password" placeholder="Enter password" required/>
        <div th:if="${specialWord}">Minimum 8 characters and at least 1 capital letter and 1 special character!</div>
    </div>

    <div>
        <label for="Repassword">Repeat New Password:</label>
        <input type="password" th:field="*{rePassword}" id="Repassword" placeholder="Repassword" required />
        <div th:if="${passMatch}">Passwords do not match!</div>
    </div>
    <button type="submit">Accept</button>
</form>

</body>
</html>
