<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <style>
        .text-danger{
            color: red;
        }
    </style>
</head>
<body>
<h2>Register</h2>
<form th:action="@{/register}" th:object="${user}" method="post">

    <div>
        <label for="name">Full Name:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Enter Fullname" />
        <div>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></label>
        </div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Enter Email" />
        <div>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></label>
            <div th:if="${emailExist}" class="text-danger">Email existed, please try another email!!</div>
        </div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" placeholder="Enter password" />
        <div>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></label>
        </div>
    </div>

    <div>
        <label for="Repassword">Repeat Password:</label>
        <input type="password" th:field="*{rePassword}" id="Repassword" placeholder="Repassword" />
        <div>
            <label th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}" class="text-danger"></label>
            <div th:if="${passwordMatch}" class="text-danger">Passwords do not match!</div>
        </div>
    </div>

    <div>
        <button type="submit">Register</button>
    </div>

</form>
</body>
</html>
